:root {
  --background-color: black;
  --text-color: white;
  --menu-border-color: #555;
  --menu-selected-color: #555;
  --menu-background-color: black;

  --input-height: 35px;
  --label-color: #222;
}

* {
  box-sizing: border-box;
}

#templatePage {
  height: calc(100% - 50px);
}

body, html {
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
